{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'users_registration/css/users.css' %}?v=2.0"
    />
    <link
      rel="stylesheet"
      href="{% static 'users_registration/css/users_tablet.css' %}?v=2.0"
    />

    <link rel="icon" href="./logo.png" type="image/png" />
    <title>Вход</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="registration">
        <div class="registration__wrapper">
          <h1 class="registration__title">Вход</h1>
          <form
            action="{% url 'users:login' %}"
            method="post"
            class="registration__form"
          >
            {% csrf_token %}

            <!-- Логин -->
            <div class="form-group">
              {{ form.username }} {% if form.username.errors %}
              <div class="error-message">
                {{ form.username.errors|striptags }}
              </div>
              {% endif %}
            </div>

            <!-- Пароль -->
            <div class="form-group">
              {{ form.password }} {% if form.password.errors %}
              <div class="error-message">
                {{ form.password.errors|striptags }}
              </div>
              {% endif %}
            </div>

            <!-- Общие ошибки (например, неверный логин или пароль) -->
            {% if form.non_field_errors %}
            <div class="error-message">
              {{ form.non_field_errors|striptags }}
            </div>
            {% endif %}

            <button type="submit" class="registraion__create_acc">Войти</button>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
